.login-wrapper {
    position: flex;
    justify-content: center;
    height: 200px;
    width: 300px;
    margin: 100px auto;
    /* margin-top:250px;
    margin-left:40%; */
    /* background-color: yellow; */
    top:50%;
    left:50%;
}

.login-wrapper .loginTitle{
    text-align: center;
}

.login-wrapper .row_group{
    text-align: center;
}