.sign-wrapper {
    display: flex;
    justify-content: center;
}
.sign-wrapper #title{
    text-align: center;
}
.list {
    font-size: 18px;
}
.userInput {
    font-size: 14px;
}     
/* .box {
    margin : 0px auto;
    display: block;
    width: 60%;
    height: 51px;
    padding-top: 10px;
    padding-right: 110px;
    padding-bottom: 10px;
    padding-left: 14px;
    background: #fff;
    box-sizing: border-box;
    vertical-align: top;
    vertical-align: top;
 } */