.sign-wrapper {
    margin : 0px auto;
    display: block;
    width: 60%;
    height: 51px;
}
/* .box {
    margin : 0px auto;
    display: block;
    width: 60%;
    height: 51px;
    padding-top: 10px;
    padding-right: 110px;
    padding-bottom: 10px;
    padding-left: 14px;
    background: #fff;
    box-sizing: border-box;
    vertical-align: top;
    vertical-align: top;
 } */